body {
    font-family: "Helvetica Neue", sans-serif;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    background: var(--bg-primary);
    padding-top: 54px;
}

.massiveHeading {
    max-width: 90%;
    font-size: 5em;
    text-align: center;
    margin: 5% auto;
}

.subtitle {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
}

#content-blog h2 {
    margin-bottom: 1rem;
    font-size: 3em;
}

#content-blog h3 {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 2em;
}

#content-blog p {
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 3rem;
    font-size: 1.5em;
}

#content-blog li {
    font-size: 1.3em;
    max-width: 80%;
    margin: 0 auto;
}

#content-blog ol {
    margin-bottom: 3em;
}

.division-blog {
    width: 100%;
    height: 2px;
    background-color: var(--bg-primary);
    margin: 3rem 0;
}


#content-blog a:link,
#content-blog a:visited {
    color: #2ecc71;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#content-blog a:hover {
    color: #2980b9;
}

#content-blog p {
    line-height: 1.5em;
}

#content-blog ul {
    list-style-type: none;
    padding: 0;
}


#content-blog img,
#content-blog .gif {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 2rem;
}

.categories {
    margin-bottom: 20px;
    text-align: center;
}

.category {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: var(--primary-color);
    color: #000000;
    font-size: 0.9em;
    border-radius: 5px;
    text-align: center;
}

.under-subtitle-link {
    text-align: center;
    margin: 0 auto;
}

table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto 3em;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/*   
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  } */

.resized-image {
    max-width: 50vw;
    /* or any other desired width value */
    height: auto;
    /* maintain aspect ratio */
}

.custom-list li {
  list-style-type: circle;
}

.custom-list li li {
  list-style-type: square;
}



.video-container {
    position: relative;
    width: 80%;
    padding-bottom: 45%;
    /* 16:9 aspect ratio */
    margin: 0 auto;
    /* Center the container horizontally */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

.video-container {
    position: relative;
    /* padding-bottom: 6.25%; */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Responsive Styles */
@media (max-width: 768px) {

    #content-blog h2,
    h3 {
        font-size: 2em;
    }

    #content-blog li,
    #content-blog p {
        max-width: 95%;
        padding: 0 1rem;
    }

    .massiveHeading {
        max-width: 90%;
        font-size: 3em;
        text-align: center;
        margin: 5% auto;
    }


    .subtitle {
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    .resized-image {
        max-width: 100%;
        /* or any other desired width value */
        height: auto;
        /* maintain aspect ratio */
    }

    #content-blog img,
    #content-blog .gif {
        width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        /* Centering horizontally */
        padding: 2rem;
    }
}



/* Blog 1 */
.blog1 {
    background: url(/src/blog_posts/blog1/placeholder.png) center center/cover;
}

/* Blog 2 */
.blog2 {
    background: url(/src/blog_posts/blog2/cyberlover_placehilder.png) center center/cover;
}

/* Blog 2 */
.blog3 {
    background: url(/src/blog_posts/blog3/img1.png) center center/cover;
}

/* Project paper */
.project1 {
    background: url(/src/project_posts/project1/paper.png) center center/cover;
}

.project1V2 {
    background: url(/src/project_posts/project1/trayectories.png) center center/cover;
}

/* Project iter */
.project2 {
    background: url(/src/project_posts/project2/iter_placeholder.jpg) center center/cover;
}

/* Project pdf chat */
.project3 {
    background: url(/src/project_posts/project3/pdf-chat.jpg) center center/cover;
}

/* Project 3v3 charger */
.project4 {
    background: url(/src/project_posts/project4/circuit.jpg) center center/cover;
}

/* Aina humanoid robot */
.project5 {
    background: url(/src/project_posts/project5/aina.png) center center/cover;
}

/* Maquintel - Mini Vizca 400 */
.project6 {
    background: url(/src/project_posts/project6/digital_twin.jpg) center center/cover;
}

/* Envirosight - Rovver X 130 */
.project7 {
    background: url(/src/project_posts/project7/card.png) center center/cover;
}

/* Inverted two wheeled robot - part 1 */
.project8 {
    background: url(/src/project_posts/project8/card.png) center center/cover;
}

/* ASD Robot */
.project9 {
    background: url(/src/project_posts/project9/r.jpg) center center/cover;
}

/* LLM+A*+PD Navigation */
.project10 {
    background: url(/src/project_posts/project10/intro_img.png) center center/cover;
}